@media (max-width: 575px) {
   .heading{
font-size: 40px !important;
font-weight: 600;

}
.u img{
 width: 100%;
}
.border-end{
   border: none !important;
}
 }
 @media (max-width: 768px){
   
 }
 @media (max-width: 992px){
    
 }
  @media (max-width: 1199px){
     

 }